@model IEnumerable<SteelMeltingMixture.Domain.Variants>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "Variants", FormMethod.Post))
{
    <button type="submit" name="action" value="ClearTable">Очистить таблицу</button>
    <button type="submit" name="action" value="LoadTable">Заполнить таблицу</button>
    <p>
    </p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameVariant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateVariant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameVariant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVariant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_Variant }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_Variant }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_Variant })
            </td>
        </tr>
    }

</table>
