@model IEnumerable<SteelMeltingMixture.Domain.ComponentsElements>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "ComponentsElements", FormMethod.Post))
{
    <button type="submit" name="action" value="ClearTable">Очистить таблицу</button>
    <button type="submit" name="action" value="LoadTable">Заполнить таблицу</button>
    <p>
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form method="post">
        <div class=" form-inline">
            <label class=" control-label">Варианты расчета: </label>
            @Html.DropDownList("ID_Variant", null, "Все",
                  htmlAttributes: new { @class = "form-control" })

            <input type="submit" value="Фильтр" class=" btn btn-default" />
        </div>
    </form>
}*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Components.NameComponent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Elements.NameElement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variants.NameVariant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Val)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSolve)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Components.NameComponent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elements.NameElement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variants.NameVariant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Val)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSolve)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_ComponentElements }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_ComponentElements }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_ComponentElements })
            </td>
        </tr>
    }

</table>
