@model SteelMeltingMixture.Domain.Elements

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Elements</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameElement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameElement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinValElement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinValElement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxValElement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxValElement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSolve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSolve)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Element }) |
    @Html.ActionLink("Back to List", "Index")
</p>
